# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [36]:
# Your code here:
pokemon_mean = pokemon[pokemon["Legendary"]==True]["Total"].mean()
pokemon_mean2 = pokemon[pokemon["Legendary"]==False]["Total"].mean()
pokemon_std = pokemon[pokemon["Legendary"]==True]["Total"].std()
pokemon_std2 = pokemon[pokemon["Legendary"]==False]["Total"].std()

In [37]:
pokemon_mean, pokemon_mean2, pokemon_std, pokemon_std2

(637.3846153846154, 417.21360544217686, 60.93738905315344, 106.76041745713005)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [47]:
# Your code here:
from scipy.stats import *
legendary=pokemon[pokemon["Legendary"]==True]["Total"]
non_legendary=pokemon[pokemon["Legendary"]==False]["Total"]
test=ttest_ind(non_legendary, legendary, equal_var=False)
test

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

### Your conclusions here:
#### The are significant differences between the means of the two samples.  So, if a Pokemon is or not legendary is something that matters for statistical purposes.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [48]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [61]:
# Your code here:
pokemon_water = pokemon[pokemon["Type 1"]=="Water"].describe().T[["mean","std"]]
pokemon_water

                  mean         std
#           303.089286  188.440807
Total       430.455357  113.188266
HP           72.062500   27.487026
Attack       74.151786   28.377192
Defense      72.946429   27.773809
Sp. Atk      74.812500   29.030128
Sp. Def      70.517857   28.460493
Speed        65.964286   23.019353
Generation    2.857143    1.558800

In [62]:
pokemon_others = pokemon[pokemon["Type 1"]!="Water"].describe().T[["mean","std"]]
pokemon_others

                  mean         std
#           372.536337  209.928799
Total       435.859012  121.091682
HP           68.802326   25.194299
Attack       79.790698   33.025152
Defense      73.988372   31.719933
Sp. Atk      72.495640   33.292537
Sp. Def      72.127907   27.739292
Speed        68.654070   29.925907
Generation    3.399709    1.666119

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [64]:
# Your code here:
from scipy.stats import *
water=pokemon[pokemon["Type 1"]=="Water"]["Total"]
non_water=pokemon[pokemon["Type 1"]!="Water"]["Total"]
test2=ttest_ind(water, non_water, equal_var=False)
test2

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

### Your conclusions here:
#### We cannot reject the null hypothesis as the pvalue is higher than 0.05.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [92]:
# Your code here:
ttest_rel(pokemon["Attack"],pokemon['Defense']).pvalue

1.7140303479358558e-05

Describe the results of the test in the cell below.

### Your conclusions here:
#### We cannot reject the null hypothesis as the result is much smaller than 0.05

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [93]:
# Your code here:
ttest_rel(pokemon["Sp. Atk"],pokemon['Sp. Def']).pvalue

0.3933685997548122

Describe the results of the test in the cell below.

### Your conclusions here:
#### We can reject the null hypothesis as the result is higher than 0.05

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [83]:
# Your code here:
ttest_1samp(pokemon["Defense"]-pokemon["Attack"], 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [90]:
# Your code here:
leg_water = pd.crosstab(pokemon["Legendary"], pokemon["Type 1"]=="Water")
leg_water

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [91]:
# Your code here:
chi2_contingency(leg_water, correction=False)

(3.617455159932616, 0.0571762700873503, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

### Your answer here:
#### We can reject the null hypothesis as the pvalue is higher tan 0,05, even though it's quite close